.content_title_posts_extra{
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #454545;
    padding-left: 28px;
    display: block;
    position: relative;
}
.content_title_posts_extra::before{
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    left: 10px;
    top: 8px;
    border: 1px solid #8b8b8b;
    border-radius: 50%;
}
.political_category {
    color: #22e7ee; /* Màu xanh */
  }